<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="test/bootstrap.php"
    strict="true"
    mapTestClassNameToCoveredClassName="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    colors="true"
>
    <testsuites>
        <testsuite>
            <directory>test/suite</directory>
        </testsuite>
    </testsuites>
</phpunit>
